# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
*.db

# Data files
data/bronze/
data/silver/
data/gold/